---
- name: Install HashiCorp Vault on RHEL
  hosts: all
  become: yes
  gather_facts: yes

  vars:
    rhel_major_version: "{{ ansible_distribution_major_version }}"

  tasks:

    - name: Install required packages
      ansible.builtin.dnf:
        name:
          - yum-utils
        state: present

    - name: Add HashiCorp YUM repository
      ansible.builtin.yum_repository:
        name: hashicorp
        description: "HashiCorp Stable - $basearch"
        baseurl: "https://rpm.releases.hashicorp.com/RHEL/{{ rhel_major_version }}/$basearch/stable"
        gpgkey: "https://rpm.releases.hashicorp.com/gpg"
        gpgcheck: true
        enabled: true
        state: present

    - name: Install Vault
      ansible.builtin.dnf:
        name: vault
        state: present

    - name: Verify vault installation
      ansible.builtin.command: vault --version
      register: vault_version
      changed_when: false

    - name: Show Vault version
      ansible.builtin.debug:
        msg: "Vault version installed: {{ vault_version.stdout }}"
