---
- name: Install HashiCorp Vault on RHEL
  hosts: all
  become: yes
  gather_facts: yes

  tasks:

    - name: Install required packages
      ansible.builtin.dnf:
        name:
          - yum-utils
        state: present

    - name: Add HashiCorp repository
      ansible.builtin.yum_repository:
        name: hashicorp
        description: "HashiCorp Stable - RHEL 9 - x86_64"
        baseurl: "https://rpm.releases.hashicorp.com/RHEL/9/x86_64/stable"
        gpgkey: "https://rpm.releases.hashicorp.com/gpg"
        gpgcheck: yes
        enabled: yes

    - name: Clean DNF metadata
      ansible.builtin.command: dnf clean all

    - name: Install Vault
      ansible.builtin.dnf:
        name: vault
        state: latest

    - name: Verify Vault installation
      ansible.builtin.command: vault --version
      register: vault_version

    - name: Print Vault version
      ansible.builtin.debug:
        msg: "Vault version: {{ vault_version.stdout }}"
